@font-face{
    font-family: 'Mosawi';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/Mosawi.ttf);
}

@font-face{
    font-family: 'NormalAR';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/NormalAR.ttf);
}

@font-face{
    font-family: 'NormalAR2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/NormalAR2.ttf);
}

@font-face{
    font-family: 'NormalFA';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/NormalFA.ttf);
}

@font-face{
    font-family: 'NormalFA2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/NormalFA2.ttf);
}

@font-face{
    font-family: 'NormalEN';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/NormalEn.ttf);
}

@font-face{
    font-family: 'NormalEN2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/NormalEN2.ttf);
}

@font-face{
    font-family: 'HeadingAR';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/HeadingAR.ttf);
}

@font-face{
    font-family: 'HeadingAR2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/HeadingAR2.ttf);
}

@font-face{
    font-family: 'HeadingFA';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/HeadingAR.ttf);
}

@font-face{
    font-family: 'HeadingFA2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/HeadingFA2.ttf);
}

@font-face{
    font-family: 'HeadingEN';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/HeadingEN.ttf);
}

@font-face{
    font-family: 'HeadingEN2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/HeadingEN2.ttf);
}

@font-face{
    font-family: 'Symbols';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/Symbols.ttf);
}

@font-face{
    font-family: 'Symbols2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/Symbols2.ttf);
}

@font-face{
    font-family: 'Hadith';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/Hadith.ttf);
}

@font-face{
    font-family: 'Hadith2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/Hadith2.ttf);
}

@font-face{
    font-family: 'Qoran';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/Qoran.ttf);
}

@font-face{
    font-family: 'Qoran2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/Qoran2.ttf);
}

@font-face{
    font-family: 'Special';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/Special.ttf);
}

@font-face{
    font-family: 'Special2';
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/Special2.ttf);
}


body {
    font-family: 'Mosawi', arial;
		direction: rtl;
		text-align: justify;
		text-decoration: none;
		pointer-events: none;
		cursor: default;
		}

p{
	color: #6f6d6e;
    direction: rtl;
    text-align: justify;

}

h1{
padding: 20px 0px 0px 0px !important;
text-align: center !important;

}

h2,h3,h4,h5{
padding: 20px 0px 0px 0px;


}

img{
max-width: 500px;
display: block !important;
margin-left: auto !important;
margin-right: auto !important;
 }



h6{
background-color: #f4f4f4;
text-align: center;
}

.Question{
color: #6f6d6e;
text-align: justify;

}

